.export-table-modal__loading-bar {
  @include fixed-height(9px, 12px);

  width: 100%;
  border-radius: 5px;
  background-color: $color-neutral-100;
}

.export-table-modal__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.export-table-modal__loading-bar-inner {
  background-color: $color-success-300;
  border-radius: 5px;
  height: 100%;
  transition-timing-function: linear;
}

.export-table-modal__export-button {
  width: 100%;
}
