.web-hook {
  border: solid 1px $color-neutral-200;
  border-radius: 6px;
  margin: 20px 0;
  overflow: hidden;
}

.web-hook__head {
  display: flex;
  width: 100%;
  background-color: $color-neutral-100;
  padding: 20px;
}

.web-hook__head-left {
  flex-basis: 50%;
  min-width: 0;
}

.web-hook__head-right {
  flex-basis: 50%;
  margin-left: 5%;
  min-width: 0;
}

.web-hook__head-name {
  @extend %ellipsis;

  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 10px;
}

.web-hook__head-details {
  display: flex;
}

.web-hook__head-details-target {
  @extend %ellipsis;

  color: $color-neutral-600;
  font-size: 12px;
  min-width: 0;
  max-width: 100%;
}

.web-hook__head-toggle {
  flex: 0 0;
  white-space: nowrap;
  margin-left: 6px;
  font-size: 12px;
}

.web-hook__head-toggle-icon {
  margin-left: 4px;
  font-size: 11px;
}

.web-hook__head-trigger {
  @extend %ellipsis;

  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
}

.web-hook__head-call {
  display: flex;
  color: $color-neutral-400;
  font-size: 12px;
}

.web-hook__head-date {
  @extend %ellipsis;
}

.web-hook__head-call-state {
  flex: 0 0;
  font-family: monospace;
  white-space: nowrap;
  margin-left: 10px;

  &.web-hook__head-call-state--ok {
    color: $color-success-500;
  }

  &.web-hook__head-call-state--error {
    color: $color-error-500;
  }
}

.web-hook__body {
  display: none;
  padding: 20px;

  .web-hook--open & {
    display: block;
  }
}

.web-hook__types {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 6px 0 0 24px;
}

.web-hook__type {
  flex: 0 0 33.33%;
}

.web-hook__header {
  position: relative;
  display: flex;
  width: 100%;
  padding-right: 44px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.web-hook__header-key {
  flex-basis: 40%;
  margin-right: 10px;
}

.web-hook__header-value {
  flex-basis: 60%;
}

.web-hook__header-delete {
  width: 32px;
  padding: 0 0;

  @include absolute(0, 0, 0, auto);
}

.web-hook__code-container {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
  min-width: 0;
  background-color: $color-neutral-100;
  overflow: auto;
}

.web-hook__code-dropdown {
  @include absolute(20px, 20px, auto, auto);
}

.web-hook__code {
  margin: 0;
  line-height: 21px;
  color: $color-primary-900;
  font-size: 13px;
  font-family: monospace;

  &.web-hook__code--small {
    font-size: 12px;
    line-height: 18px;
  }
}

.web-hook__call {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.web-hook__call-head {
  // nothing
}

.web-hook__call-name {
  display: flex;
  margin-bottom: 6px;
  line-height: 16px;
}

.web-hook__call-type {
  white-space: nowrap;
  font-weight: 600;
  margin-right: 10px;
}

.web-hook__call-target {
  @extend %ellipsis;

  min-width: 0;
}

.web-hook__call-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.web-hook__call-info {
  @extend %ellipsis;

  min-width: 0;
  padding-top: 2px;
  color: $color-neutral-700;
  font-size: 12px;
}

.web-hook__call-toggle {
  display: flex;
  flex: 0 0;
  line-height: 16px;
  text-align: center;
  color: $color-neutral-600;
  align-content: center;
  margin-left: 16px;

  &:hover {
    color: $color-primary-900;
    text-decoration: none;
  }
}

.web-hook__call-state {
  font-family: monospace;
  white-space: nowrap;
  margin-right: 10px;

  &.web-hook__head-call-state--ok {
    color: $color-success-500;
  }

  &.web-hook__head-call-state--error {
    color: $color-error-500;
  }
}

.web-hook__call-toggle-icon {
  font-size: 14px;
}

.web-hook__call-body {
  display: none;
  width: 100%;
  padding: 16px 0 24px 0;
  max-height: 280px;

  .web-hook__call--open & {
    display: flex;
  }
}

.web-hook__call-body-content {
  flex: 0 0 calc(50% - 8px);
  min-width: 0;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.web-hook__call-body-label {
  font-weight: 600;
  margin-bottom: 10px;
}

.web-hook__test-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}

.web-hook__test-state {
  font-family: monospace;
  white-space: nowrap;
  text-align: right;

  &.web-hook__test-state--ok {
    color: $color-success-500;
  }

  &.web-hook__test-state--error {
    color: $color-error-500;
  }
}
